@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@900&family=Poppins&family=Ubuntu:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

* {
  margin: 0;
  padding: 0;
}


/* navbar  */
.headerbar{
background-color: rgb(100, 57, 142);
font-size: 1.7rem;
}


/* asfacsac */
.ficon i {
  cursor: pointer;
}



/* Add notes-page  */
.addnote-page{
    margin-top: 50px;
    margin-bottom: 30px;
    border: 2px solid grey;
    padding: 30px 50px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgb(72, 71, 71);
}

.addnote-page input{
    text-decoration: transparent;
}

/* display all notes  */
.notes-page {
  border-top: 2px solid black;
  padding-top: 20px;
}

/* login & sign up page  */
.login-page,
.signup-page {
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 30px 50px;
  margin-top: 100px;
  width: 50%;
  background-color: rgb(234, 239, 231);
  box-shadow: 7px 9px 10px rgb(179, 194, 169);
}